
<h2> Följande symboler kan användas i brev till folk i kön (aspiranter)</h2>
<table class="table table-striped">
	 <tr><th scope="row">#AVINR</th><td>Ersätts med avinumret på senaste betalningsanmodan</td></tr>
     <tr><th scope="row">#KOPLATS</th><td>Ersätts med aspirantens köplats</td></tr> 	
	 <tr><th scope="row">#BG</th><td>Ersätts med Skrubbas bankgironummer</td></tr>
	 <tr><th scope="row">#KOAVGIFT</th><td>Ersätts med aktuell köavgift</td></tr>
	 <tr><th scope="row">#BETALDATUM</th><td>Ersätts med datum köavgiften senast skall vara betald</td></tr>
</table>
<h2> Följande symboler kan användas i brev till kolonister</h2>
<table class="table table-striped">
	 <tr><th scope="row">#LOTTNR</th><td>Ersätts med kolonistens lottnummer</td></tr>
     <tr><th scope="row">#OMRADE</th><td>Ersätts området kolonistens stuga tillhör</td></tr> 	
</table>
<h2> Följande symboler kan användas i alla brev</h2>
<table class="table table-striped">
	 <tr><th scope="row">#FORNAMN</th><td>Ersätts med personens förnamn</td></tr>
     <tr><th scope="row">#EFTERNAMN</th><td>Ersätts med personens efternamn</td></tr> 	
	 <tr><th scope="row">#HELTNAMN</th><td>Ersätts med personens för och efternamn</td></tr>
	 <tr><th scope="row">#EMAIL</th><td>Ersätts med personens emailadress</td></tr>
	 <tr><th scope="row">#TELEFON</th><td>Ersätts med personens telefonnummer</td></tr>
</table>



