<!DOCTYPE html>
<html lang="se" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdnout.com/bootstrap-table/bootstrap-table-locale-all.js"></script> 
</head>
<title>Inkomna anmälningar</title>
</head>
<body>
<div class="container pt-md-2">
<img th:src="@{/images/skrubbalogga.jpg}" class="img-rounded" alt="Skrubbas Logga">

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
  	<li class="nav-item active">
      	<a class="nav-link" href="http://skrubba.se"><span class="fa fa-home"></span> Anmälningar</a>
    </li>    
  </ul>
  <ul class="nav navbar-nav ">      
      <li class="nav-item"><a class="nav-link" th:href="@{/}"ß><span class="fa fa-sign-in"></span> Tillbaka</a></li>
    </ul> 
</nav>
</div>

<div class ="container">	
		<br>
		<div> 
        	<div th:if = "${message != null}" class="alert alert-success alert-dismissible fade show"  role="alert">
        		[[${message}]]
        		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  				</button> 
        	</div>
        </div>   
           
		<div th:each = "anmalan: ${Anmalningar}">			 
			<div class="modal fade bd-example-modal-lg" th:id = "${'anm' + anmalan.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">>
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel" th:text = "${'Alla uppgifter på anmälan'}"></h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      <table class="table table-striped table-bordered">
			      		<tr><td>Inkom</td><td th:text = "${#dates.format(anmalan.inkom, 'yyyy-MM-dd HH:MM:SS')}"></td></tr>		      		
			      		<tr><td>Avinummer</td><td th:text = "${anmalan.id + 1000}"></td></tr>
			       		<tr><td>Bekräftad</td><td th:text = "${#dates.format(anmalan.mailat, 'yyyy-MM-dd HH:MM:SS')}"></td></tr>
			       		<tr><td>Förnamn</td><td th:text = "${anmalan.fnamn}"></td></tr>
			       		<tr><td>Efternamn</td><td th:text = "${anmalan.enamn}"></td></tr>
			       		<tr><td>Email</td><td th:text = "${anmalan.email}"></td></tr>
			       		<tr><td>Telefon</td><td th:text = "${anmalan.telefon}"></td></tr>
			       		<tr><td>Adress</td><td th:text = "${anmalan.adress}"></td></tr>
			       		<tr><td>Postnr</td><td th:text = "${anmalan.postnr}"></td></tr>
			       		<tr><td style='width:25%'>Postadress</td><td th:text = "${anmalan.padress}"></td></tr>
			       </table>	
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<table class="table table-striped table-bordered" id="sortTable" data-locale="sv-SE">
			<thead class = "table-light">
				<tr>	
					<th> Inkom </th>				
					<th> Namn</th>										
					<th> Email </th>
					<th> Postadress </th>
					<th>&nbsp;</th>
									
				</tr>
			</thead>			
			<tbody>				
				<tr th:each = "anmalan: ${Anmalningar}">
					<td th:text = "${#dates.format(anmalan.inkom, 'yyyy-MM-dd HH:MM')}"></td>
					<td th:text = "${anmalan.fnamn + ' ' + anmalan.enamn}"></td>
					<td><a th:href = "'mailto:' + ${anmalan.email}"> <i th:text = "${anmalan.email}"></i></a></td>	
					<td th:text = "${anmalan.padress}"></td>
					<td>
						<button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="${'#anm' + anmalan.id}">Visa</button>				
						<a th:if="${anmalan.mailat == null}" th:href = "@{/anmalningar/confirm/{id}(id=${anmalan.id})}" class = "btn btn-primary">Bekräfta</a>
						<a th:if="${anmalan.mailat != null}" th:href = "@{/anmalningar/confirm/{id}(id=${anmalan.id})}" class = "btn btn-primary" onclick="return confirm('Bekräftelsemail har redan skickats, är du säker på att du vill skicka ett nytt mail?')">Bekräfta</a>						
					    <a th:href = "@{/anmalningar/add/{id}(id=${anmalan.id})}" class = "btn btn-primary" onclick="return confirm('Om du lägger till personen till kön så skickas även en betalningsbekrätelse. Är du säker på att betalningen komit in?')">Godkänn</a>
						<a th:href = "@{/anmalningar/delete/{id}(id=${anmalan.id})}" class = "btn btn-primary" onclick="return confirm('Är du säker på att du vill ta bort anmälan?')">Ta bort</a>
					</td>
					
				</tr>				
			</tbody>		
		</table>		
</div>
<script>

$('#sortTable').DataTable({
formatSearch () {
    return 'Sök'
 }
});
</script>

    <script th:inline="javascript">
       

        function showDetails(button) {
        	var div = document.getElementById('popit');
            if (div.style.display !== 'none') {
                div.style.display = 'none';
            }
            else {
                div.style.display = 'block';
            }
        }
    </script>
</body>
</html>