<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Payment List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	 <style>
        .custom-td {
            border: none; /* Remove border for the custom td class */
        }

        .custom-td input {
            width: 100%;
            box-sizing: border-box;
        }
    </style>
   
</head>
<body>
<div class="container pt-md-2">
<img th:src="@{/images/skrubbalogga.jpg}" class="img-rounded" alt="Skrubbas Logga">

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
  	<li class="nav-item active">
      	<a class="nav-link" href="http://skrubba.se"><span class="fa fa-home"></span>Skrubba.se</a>
    </li>
     <li class="nav-item active"><a class="navbar-text" th:text="${'   Betalningar gjorda av  ' + aspnamn}"></a></li>
  </ul>  
  <ul class="navbar-nav mr-auto">
  	   
      <li class="nav-item active"><a id="regsave" class="nav-link" href="javascript:showAddPaymentForm()"><span class="fa fa-credit-card"></span> Registrera betalning</a></li>
      <li class="nav-item active"><a class="nav-link" th:href="@{/aspirantlista}"><span class="fa fa-sign-in"></span> Tillbaka</a></li>
   
  </ul> 
</nav>
</div>
<br>
 <div id="deleteButton" th:attr="data-delete-url=@{/betalning/delete/}"></div>
<div class = "container">
	<div class = "row">
		<div class =" container col-lg-6 col-md-6 col-sm-6 justify-content-center card">
		<div th:if = "${message != null}" class="alert alert-danger alert-dismissible col-md-12 fade show"  role="alert">
        		[[${message}]]
        		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  				</button> 
        </div>
        </div>
   </div>    
  
   <div class = "row"> 
		<div class =" container col-lg-6 col-md-6 col-sm-6 justify-content-center card">		
			<div class = "card-body"> 
		    <table class="table table-striped table-bordered">
		        <thead>
		            <tr>
		                <th>År</th>
		                <th>Betaldatum</th>
		                <th>Summa</th>
		                <th>Avinr</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:data-id="${betalning.id}" th:each="betalning : ${betallista}">
		                <td th:text="${betalning.ar}"></td>
		                <td th:text="${#dates.format(betalning.betdatum, 'yyyy-MM-dd')}"></td>
		                <td th:text="${betalning.summa + ':-'}"></td>
		                <td th:text="${betalning.id}"></td>
		                <td width="5%"><span class="fa fa-trash-o" aria-hidden="true" onclick="removeRow(this)"></span></td>
		            </tr>
		            <tr data-id="0" id="addPaymentRow" style="display: none;">
		            <form  id="addPaymentForm" th:action="@{/betalning/ny}" th:object="${ny_betalning}" method="post" style="display: none;">
    					<input type= "hidden" id="asp" th:field="*{asp}"/>
        				<td><input type="text" class="form-control" id="ar" th:field="*{ar}" required></td>
        				<td><input type="text" class="form-control" id="betdatum" th:field="*{betdatum}" required></td>
        				<td th:text="*{summa + ':-'}"></td>
        				<td></td>                        
                        <td width="5%"><span class="fa fa-trash-o" aria-hidden="true" onclick="removeRow(this)"></span></td>   
                        <input type="hidden" id="summa" name="summa" th:value="${ny_betalning.summa}"> 
    				</form>
		            </tr>
		        </tbody>
		    </table>
		    <!-- Form for adding a new payment -->
    
		    
 		</div>
 	</div>
 </div>
  <script th:inline="javascript">
        function showAddPaymentForm() {
        	var form = document.getElementById('addPaymentForm');
            if (form.style.display == 'table-row')
            	form.submit();
            else
            {	
        		var linkElement = document.getElementById('regsave');
        		linkElement.innerHTML = '<span class="fa fa-floppy-o"></span> Spara betalning';
       
            	var row = document.getElementById('addPaymentRow');
            	row.style.display = 'table-row';
            	var form = document.getElementById('addPaymentForm');
            	form.style.display = 'table-row';
            }	
        }
       
        function removeRow(button) {
            // Get the <tr> element containing the button
            var row = button.closest('tr');
			
            if (row.getAttribute('data-id') == 0)
            {	
            	//row.parentNode.removeChild(row);
            	row.style.display = 'none';
            	var linkElement = document.getElementById('regsave');
            	var form = document.getElementById('addPaymentForm');
            	form.style.display = 'none';
        		linkElement.innerHTML = '<span class="fa fa-credit-card"></span> Registrera betalning';
            	return;
            }
            document.getElementsByName("tenentID")[0]
            //var csrfToken = document.getElementById('addPaymentForm').querySelector('input[name="_csrf"]').value;
            var csrfToken = document.getElementsByName('_csrf')[0].value;
            // Get the data associated with the row (you may use data attributes or other mechanisms to store data)
            var rowData = {
                // Example: Assuming there is a data-id attribute on the row
                id: row.getAttribute('data-id'),
            };
            var deleteButton = document.getElementById('deleteButton');
            var deleteUrl = deleteButton.getAttribute('data-delete-url');
 				fetch(deleteUrl + row.getAttribute('data-id'), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken,
                },
                body: JSON.stringify(rowData),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // If the deletion was successful, remove the row from the table
                row.parentNode.removeChild(row);
            })
            .catch(error => {
                console.error('Error during removal:', error);
            });
        }
    </script>   
    
</body>
</html>