<!DOCTYPE html>
<html lang="se" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mina uppgifter</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  
  <body style='background-color:white'>
		   <style>
		    .custom-form-group {
		        margin-bottom: 5px; /* Adjust the value as needed to reduce the spacing */
		    }
		   </style>
		   <script>
		   function validateAndSubmitForm() {
			    var form = document.getElementById('aspform');
			    //if (form.checkValidity()) {
			        form.submit(); // If the form is valid, submit it
			    //} else {
			    //    form.classList.add('was-validated'); // Add Bootstrap's validation styles
			    //}
			}
		   </script>
    <div class="container">
 		<img th:src="@{/images/skrubbalogga.jpg}" class="img-rounded" alt="Skrubbas Logga">   
      
        <p></p>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
		  <ul class="navbar-nav mr-auto">
		  	<li class="nav-item active">
		      	<a class="nav-link" href="http://skrubba.se"><span class="fa fa-home"></span>Skrubba.se</a>
		    </li>
		    
		  </ul>
		  <ul class="nav navbar-nav ">
		      <button type="submit" class="btn btn-link nav-link" form="aspform" ><span class="fa fa-floppy-o"></span> Spara</button>		  	  
		  	 
		  	  <li th:if = "${Role == null}" class="nav-item"><a class="nav-link" th:href="@{/aspirant/change_password/{id}(id=${aspirant.id})}"><span class="fa fa-user"></span> Byt lösenord</a></li>
		      <li th:if = "${Role != null}" class="nav-item"><form id="fake2" th:action="@{/send_reset_link}" method="post"><input type="hidden" name="id" th:value="${aspirant.id}">
		      		<a class="nav-link" href="#" onclick="document.getElementById('fake2').submit()"><span class="fa fa-user"></span> Nytt lösenord</a></form></li>
		       <li th:if = "${Role != null}" class="nav-item"><a class="nav-link" th:href="@{/aspirant/remove/{id}(id=${aspirant.id})}"><span class="fa fa-trash"></span> Radera</a></li>
		      <li th:if = "${Role == null}" class="nav-item"><a class="nav-link" th:href="@{/userpage/{id}(id=${aspirant.id})}"><span class="fa fa-sign-in"></span> Avbryt</a></li>
		      <li th:if = "${Role != null}" class="nav-item"><a class="nav-link" th:href="@{/aspirantlista}"><span class="fa fa-sign-in"></span> Avbryt</a></li>
		  </ul>
		</nav>
		

        <div> 
        	<div th:if = "${message != null}" class="alert alert-success alert-dismissible fade show"  role="alert">
        		[[${message}]]
        		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  				</button> 
        	</div>
        </div>
    </div>	        
        <br>		
    <div class="container">
     <div class="row justify-content-center">
        <div class="col-md-6">

			<form id="aspform" role="form" th:action="@{${ActionUrl == 'edit' ? '/aspirant/edit/' + aspirant.id : '/aspirant/new'}}" th:object = "${aspirant}" method="POST"> 
			<input hidden type="text" name = "Role" th:value="${Role}" />
			
			<div th:if = "${Role != null}" class="form-group row custom-form-group">
				<label for="koStatus" class="col-sm-3 col-form-label">Köstatus:</label>
 				<div class="col-sm-8">
					<select th:field = "*{koStatus}" class="form-control" placeholder="Ange köstatus">
 						<option value="Aktiv">Aktiv</option>
 						<option value="Passiv">Passiv</option>
 						<option value="Vilande">Vilande</option>
					</select>
				</div>
			</div>	
			<div th:if = "${Role != null}" class="form-group row custom-form-group">
				<label for="koPlats" class="col-sm-3 col-form-label">Köplats:</label>
					<div class="col-sm-8">
					<input type = "text" name = "Köplats" th:field = "*{koPlats}" class = "form-control" readonly="readonly" placeholder="Köplats" required/>
				</div>
			</div>	
			<div th:if = "${Role != null}" class="form-group row custom-form-group">
				<label for="inskriven" class="col-sm-3 col-form-label">Inskriven:</label>
				<div class="col-sm-8">
					<input type = "date" name = "inskriven"	th:field = "*{inskriven}" class = "form-control" placeholder="Inskriven Datum" required/>					
				</div>	
			</div>
			<div th:if = "${Role != null}" class="form-group row custom-form-group">
				<label for="utbildad" class="col-sm-3 col-form-label">Utbildad:</label>
				<div class="col-sm-8">
					<input type = "date" name = "utbildad"	th:field = "*{utbildad}" class = "form-control" placeholder="Gått utbildning datum"/>
				</div>
			</div>	
			<div th:if = "${Role != null}" class="form-group row custom-form-group">
				<label for="betalat" class="col-sm-3 col-form-label">Betalat:</label>
			    <div class="col-sm-8">	
			    	<input type = "date" name = "betalat"	th:field = "*{betalat}" class = "form-control" placeholder="Betalat Datum"/>
			    </div>
			</div>	
			<div class="form-group row custom-form-group">
				<label for="fnamn" class="col-sm-3 col-form-label">Förnamn:</label>
				<div class="col-sm-8">
					<input type = "text" name = "fnamn"	th:field = "*{fnamn}" class = "form-control" placeholder="Ange förnamn" required/>					
				</div>
			</div>
			<div class="form-group row custom-form-group">
				<label for="enamn" class="col-sm-3 col-form-label">Efternamn:</label>							
				<div class="col-sm-8">	
					<input type = "text" name = "enamn"	th:field = "*{enamn}" class = "form-control" placeholder="Ange efternamn" required/>				
				</div>
			</div>
			<div class="form-group row custom-form-group">
				<label for="email" class="col-sm-3 col-form-label">Epostadress:</label>
				<div class="col-sm-8">									
		    		<input type = "email" name = "email" th:field = "*{email}" class = "form-control" placeholder="Ange E-postadress" required/>		    	
		    	</div>
		    	
			</div>
			<div class="form-group row custom-form-group">
				<label for="telefon" class="col-sm-3 col-form-label">Telefonnummer:</label>
				<div class="col-sm-8">	
					<input type = "text" name = "telefon" th:field = "*{telefon}" class = "form-control" placeholder="Ange telefonnummer"/>
				</div>
			</div>
			<div class="form-group row custom-form-group">
				<label for="adress" class="col-sm-3 col-form-label">Adress:</label>
				<div class="col-sm-8">	
					<input type = "text" name = "adress" th:field = "*{adress}" class = "form-control" placeholder="Ange gatuadress"/>
				</div>
			</div>
			<div class="form-group row custom-form-group">
			 	<label for="postnr" class="col-sm-3 col-form-label">Postnummer:</label>
				<div class="col-sm-8">	
					<input type = "text" name = "postnr" th:field = "*{postnr}"	class = "form-control" placeholder="Ange postnummer"/>
				</div>
			</div>
			<div class="form-group row custom-form-group">
				<label for="postAdress" class="col-sm-3 col-form-label">Postadress:</label>
				<div class="col-sm-8">	
					<input type = "text" name = "postAdress" th:field = "*{postAdress}" class = "form-control" placeholder="Ange postadress"/>
			    </div>
			</div>					
		</form>		
		</div>
		</div>	
					
	</div>
</body></html>

