<!DOCTYPE html>
<html lang="se" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Kolonilott</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body style='background-color:white'>
  
    <div class="container">
 		<img th:src="@{/images/skrubbalogga.jpg}" class="img-rounded" alt="Skrubbas Logga">   
      
        <p></p>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
		  <ul class="navbar-nav mr-auto">
		  	<li class="nav-item active">
		      	<a class="nav-link" href="http://skrubba.se"><span class="fa fa-home"></span>Skrubba.se</a>
		    </li>
		    <li th:if = "${lott.tillsalu}" class="nav-item">
      			<a class="nav-link" th:href="@{/tillsalulista/{lottnr} (lottnr=${lottnr})}"><span class="fa fa-shopping-cart"></span>Till Salu</a>
          	</li> 
		  </ul>                            
		  <ul class="nav navbar-nav ">		
		  	  <li class="nav-item"><a class="nav-link" th:href="@{/kolonilista}"><span class="fa fa-sign-in"></span> Tillbaka</a></li>
		  </ul>
		</nav>
		

        <div> 
        	<div th:if = "${message != null}" class="alert alert-success alert-dismissible fade show"  role="alert">
        		[[${message}]]
        		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  				</button> 
        	</div>
        </div>
    </div>	        
        <br>		
		<div class = "container">
			<div class = "row">
			<!-- col-lg-6 col-md-6 col-sm-6 justify-content-center card -->
				<div class =" container col-lg-6 col-md-6 col-sm-6 justify-content-center card">
					
					<div class = "card-body">
						<form class=class="form-inline" role="form" th:action="${ActionUrl}" th:object = "${lott}" method="POST">
						
						<table>
						<tr><td>Lottnr:</td>
						<td><input name="lottnr" th:field = "*{lottnr}" readonly="readonly" class="form-control" placeholder="Ange lottnr"></td>
  						</tr>
  						<td>Område:</td>
  						<td><input type = "text" name = "omrade"	th:field = "*{omrade}" readonly="readonly" class = "form-control" placeholder="Område"/></td>
  						</tr>
  						<td>Areal:</td>
  						<td><input type = "text" name = "areal"	th:field = "*{areal}" readonly="readonly" class = "form-control" placeholder="areal"/></td>
  						</tr>
  						<tr>
  						<td>Adress:</td>
  						<td><input name = "adress"	th:field = "*{adress}" readonly="readonly" class = "form-control" placeholder="adress"/></td>
  						</tr>
  						<tr>
  						<td>Ägare:</td>
  						<td><input type = "text" name = "agare"	th:field = "*{agare}" readonly="readonly" class = "form-control" placeholder="agare"/></td>
  						</tr>
  						<tr>
  						<td>Hemadress:</td>
  						<td><input type = "text" name = "hemadress"	th:field = "*{hemadress}" readonly="readonly" class = "form-control" placeholder="hemadress"/></td>
  						</tr>
  						<tr>
  						<td>Lägenhet:</td>
  						<td><input type = "text" name = "lgh"	th:field = "*{lgh}" readonly="readonly" class = "form-control" placeholder="lgh"/></td>
  						</tr>
  						<tr>
  						<td>postnummer:</td>
  						<td><input type = "text" name = "postnr"	th:field = "*{postnr}" readonly="readonly" class = "form-control" placeholder="postnr"/></td>
  						</tr>
  						<tr>
  						<td>postort:</td>
  						<td><input type = "text" name = "postadress"	th:field = "*{postort}" readonly="readonly" class = "form-control" placeholder="postort"/></td>
  						</tr>
  						<tr>
  						<td>Email:</td>
  						<td width="400"><input type = "text" name = "email"	th:field = "*{email}" readonly="readonly" class = "form-control" placeholder="email"/></td>
  						</tr>	
  						<tr>
  						<td>Telefon:</td>
  						<td width="400"><input type = "text" name = "telefon"	th:field = "*{telefon}"  readonly="readonly" class = "form-control" placeholder="telefon"/></td>
  						</tr>
						<tr>
  						
  						<tr>
  						<td>Till salu:</td>
  						<td><input type="checkbox" name="tillsalu" th:checked="*{tillsalu}" align="right"> </td>
  						</tr>
						<tr><td></td><td align="right"><button type="submit" class = "btn btn-primary">Spara</button></td></tr>	
					    </table>
						</form>					
					</div>
				</div>
			</div>
		</div>
		
		<!-- 
		<div class="container" align="center"> 
		<form action="#" th:action="@{/saveAspirant}" th:object="${aspirant}" method="POST">
			<input type="text" th:field="*{fnamn}"
				placeholder="Förnamn" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{enamn}"
				placeholder="Efternamn" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{email}"
				placeholder="Email" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Spara </button>
		</form>  
		 -->             
	</div>
</body></html>

