<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
<div class="container">
  <form>
    <div class="form-group row">
      <label for="name1" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="name1" placeholder=".col-sm-10">
      </div>
    </div>
    <div class="form-group row">
      <label for="name2" class="col-sm-2 col-form-label">Other Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="name2" placeholder=".col-sm-10">
      </div>
    </div>
    <div class="form-group row">
      <label for="name3" class="col-sm-2 col-form-label">Third Name</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="name3" placeholder=".col-sm-10">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>