<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dual Listbox Example</title>
    <!--  <link th:rel="stylesheet" th:href="@{/assets/bootstrap-dual-listbox/bootstrap-duallistbox.min.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-duallistbox@3.0.6/dist/bootstrap-duallistbox.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-duallistbox/4.0.1/jquery.bootstrap-duallistbox.min.js"></script>
</head>
<body>
<div class="container pt-md-2">
<img th:src="@{/images/skrubbalogga.jpg}" class="img-rounded" alt="Skrubbas Logga">

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
  	<li class="nav-item active">
      	<a class="nav-link" href="http://skrubba.se"><span class="fa fa-home"></span>Skrubba.se</a>
    </li>
    <li class="nav-item active">
     	<a class="nav-link" th:text="${'    '}"></a>
     </li>    
     <li th:if = "${sald == null}" class="nav-item active">
    	<span class="navbar-text" th:text="${'       Deltagare vid visning av lott ' + lott + ' (Listan till höger) ' + #dates.format(datum, 'yyyy-MM-dd')}"></span>
    </li>
    <li th:if = "${sald != null}" class="nav-item active">
    	<span class="navbar-text" th:text="${'       Deltagare vid visning av lott ' + lott + ', ' + #dates.format(datum, 'yyyy-MM-dd')}"></span>
    </li>
  </ul>
  <ul class="nav navbar-nav ">
      
      <li class="nav-item"><a class="nav-link" th:href="@{${tillbakaUrl}}"><span class="fa fa-sign-in"></span> Tillbaka</a></li>
    </ul> 
</nav>
</div>
<div th:if = "${sald == null}" class="container">
	<div class="row">
        <div class="col-md-8 mt-5">
			<form th:action="@{${actionUrl}}" th:object="${urval}" method="post">
				<input type="hidden" name = "lottnr" th:value="${lottnr}" />
			    <select th:field="*{valda}" multiple="multiple" id="dualListbox" size="20" class="form-select" aria-label="size 3 select example">
			        <!-- Add your items here -->
			        <option th:each="aspirant : ${aspirantlista}" th:value="${aspirant.id}" th:text="${aspirant.koPlats + ' ' + aspirant.fnamn + ' ' + aspirant.enamn}"></option>
			    </select>
			    <button class="btn btn-primary mt-3" type="submit">Spara</button>
			</form>
       </div>
    </div>
</div>
<script>	
	$("#dualListbox").bootstrapDualListbox();
</script>
<div th:if = "${sald != null}" class="container">
	
	<table class="table table-striped table-bordered" id="sortTable" data-locale="sv-SE">
		<thead class = "table-light">
			<tr>					
				<th> Köplats</th>
				<th> Namn </th>
				<th> Svar </th>
				<th> Inskriven </th>				
							
			</tr>
		</thead>			
		<tbody>
			<tr th:each = "aspirant : ${aspirantlista}">
				<td th:text = "${aspirant.koPlats}"></td>					
				<td th:text = "${aspirant.fnamn + ' ' + aspirant.enamn}"></td>
				<td th:text = "${svarlista[aspirant.id]}"></td>
				<td th:text = "${#dates.format(aspirant.inskriven, 'yyyy-MM-dd')}"></td>				
			</tr>
		</tbody>		
	</table>
	
		
</div>
<script>
		$('#sortTable').DataTable({
		formatSearch () {
		    return 'Sök'
		 }
		});
</script>
</body>
</html>