<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Svar på intresse för stugköp</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style='background-color:white'>
 <div class="container">
 		<img th:src="@{/images/skrubbalogga.jpg}" class="img-rounded" alt="Skrubbas Logga">   
      
        <p></p>
        <nav th:if = "${message == null}" class="navbar navbar-expand-sm navbar-light bg-light">
		  <ul class="navbar-nav mr-auto">
		  	
		    <li class="nav-item active">
     			<a class="nav-link" th:text="${'    '}"></a>
     		</li>    
     		<li class="nav-item active">
    			<span class="fa fa-home"></span><span class="navbar-text" th:text="${'       Deltagare vid visning av lott ' + lott + ', ' + #dates.format(datum, 'yyyy-MM-dd')}"></span>
    	    </li>
		   <!-- 
		   <li class="nav-item active">
		      	<a class="nav-link" href="#"><span class="fa fa-home"></span>Fyll i svar och klicka på spara eller avbryt </a>
		    </li>
		    -->
		   
		 </ul>
		 <ul class="nav navbar-nav ">
		      <button type="submit" class="btn btn-link nav-link" form="svarform" ><span class="fa fa-floppy-o"></span> Spara</button>
		      <li class="nav-item"><a class="nav-link" th:href="@{${tillbakaUrl}}"><span class="fa fa-sign-in"></span> Avbryt</a></li>
		     
		  </ul>
		</nav>		
        <div> 
        	<div th:if = "${message != null}" class="alert alert-success alert-dismissible fade show"  role="alert">
        		<span th:utext="${message}"></span>
        		<button type="button"  class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  				</button> 
        	</div>
        	
        </div>
  </div>
  <br>		
  <div class="row justify-content-center">
        <div class="col-md-8">
			<form id="svarform" role="form" th:action="@{${actionUrl}}" th:object = "${svarlista}" method="POST">
				<table class="table table-striped table-bordered" id="sortTable" data-locale="sv-SE">
					<thead class = "table-light">
						<tr>					
							<th> Köplats</th>
							<th> Namn </th>
							<th> Svar </th>
							<th> Inskriven </th>				
							
						</tr>
					</thead>			
					<tbody>
						<tr th:each = "aspirant : ${aspirantlista}">
							<td th:text = "${aspirant.koPlats}"></td>					
							<td th:text = "${aspirant.fnamn + ' ' + aspirant.enamn}"></td>
							<td>
							 	<select th:name="${'svar' + aspirant.id}">
                                	<option th:each="val : ${svarOptions}"
                                    	    th:value="${val}"
                                       	 	th:text="${val}"
                                       	 	th:selected="${val.equals(svarlista[aspirant.id])}">
                                    </option>
                            	</select>
                            </td>	
							<!-- <td th:text = "${svarlista[aspirant.id]}"></td> -->
							<td th:text = "${#dates.format(aspirant.inskriven, 'yyyy-MM-dd')}"></td>				
						</tr>
					</tbody>		
				</table>
			</form>
		</div>
  </div>			 	
</body>
</html>
